.form-button--login {
  width: 100%;
}

.login-error {
  padding: 30px 0 15px 0;
}
.link {
  color: var(--green);
  transition: all ease-in-out 0.5s;
  font-weight: 600;
}
.link:hover {
  color: var(--purplyGray);
  text-decoration: underline;
}
